$breakPoint: 768px;
$sideGutter: 20px;
$contentWidth: 1240px;

$fontFamily: "Roboto","Noto Sans JP",sans-serif;
$fontSizeH1: 28;
$fontSizeH2: 24;
$fontSizeH3: 18;
$fontSizeH4: 16;
$fontSizeBody1: 16;
$fontSizeBody2: 14;
$fontSizeOverline: 12;

$white: #ffffff;
$black: #2f2e33;
$primaryMain: #394f99;
$primaryDark: #2f4280;
$primaryLight: #425cb3;
$secondaryMain: #452c32;
$secondaryDark: #382429;
$secondaryLight: #52343b;
$red: #e7472d;
$grey0: #f1f2ed;
$grey1: #e2e3de;
$grey2: #d5d6d2;
$grey3: #c8c9c5;
$grey4: #bcbd89;
$grey5: #afb0ac;

$duration: 0.4s;

$space: 8;
