$breakPoint: 768px;
$sideGutter: 20px;
$contentWidth: 1240px;

$fontColor: #333333;
$fontFamily: "Roboto","Noto Sans JP",sans-serif;
$fontSizeH1: 28;
$fontSizeH2: 24;
$fontSizeH3: 18;
$fontSizeH4: 16;
$fontSizeBody1: 16;
$fontSizeBody2: 14;
$fontSizeOverline: 12;

$grey1: #aaa;
$grey2: #dae6e6;

$duration: 0.4s;

$space: 8;
