@use '@styles/define/define';

.root {
  height: 100%;
  background-color: define.$white;
  box-shadow: 1px 1px 4px 2px rgba($color: define.$black, $alpha: 0.2);
}

.link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: define.spacing(1);
  transition: opacity define.$duration;
  @include define.hover {
    opacity: 0.4;
  }
}

.head {
  margin-bottom: define.spacing(1);
}

.headTitle {
  display: inline-block;
  font-size: define.rem(define.$fontSizeH3);
  font-weight: bold;
  line-height: 1.2;
}

.headData {
  display: flex;
  gap: define.spacing(1);
  font-size: define.rem(define.$fontSizeOverline);
  color: define.$primaryLight;
}

.body {
  flex: 1 1 auto;
  margin-bottom: define.spacing(1.5);
}

.foot {
  text-align: right;
  font-size: define.rem(define.$fontSizeBody2);
}
