@use '@styles/define/define';

.root {
  display: inline-block;
}

.link {
  display: block;
  padding: define.spacing(0.5) define.spacing(1);
  border-radius: 4px;
  font-size: define.rem(define.$fontSizeBody2);
  transition: opacity define.$duration;

  @include define.hover {
    opacity: 0.6;
  }

  &[data-color="primary"] {
    color: define.$white;
    background-color: define.$primaryMain;
    &[data-weight="dark"] {
      background-color: define.$primaryDark;
    }
    &[data-weight="light"] {
      background-color: define.$primaryLight;
    }
  }

  &[data-color="secondary"] {
    background-color: define.$secondaryMain;
    &[data-weight="dark"] {
      background-color: define.$secondaryDark;
    }
    &[data-weight="light"] {
      background-color: define.$secondaryLight;
    }
  }
}
