@use '@styles/define/define';

.root {
  display: flex;
  &[data-align="center"] {
    justify-content: center;
    text-align: center;
  }
  &[data-align="left"] {
    justify-content: left;
    text-align: left;
  }
  &[data-align="right"] {
    justify-content: right;
    text-align: right;
  }
}

.heading1 {
  margin-bottom: define.spacing(4);
}

.heading1Text {
  font-size: define.rem(define.$fontSizeH1);
  line-height: 1.2;
}

.heading2 {
  margin-bottom: define.spacing(3);
  margin-bottom: define.spacing(2);
}

.heading2Text {
  font-size: define.rem(define.$fontSizeH2);
  line-height: 1.2;
}

.heading3 {
  margin-bottom: define.spacing(2);
  margin-bottom: define.spacing(1);
}

.heading3Text {
  font-size: define.rem(define.$fontSizeH3);
  line-height: 1.2;
}

.heading4 {
  margin-bottom: define.spacing(1);
}

.heading4Text {
  font-size: define.rem(define.$fontSizeH4);
  line-height: 1.2;
}
