@use '@styles/define/define';

.root {
  white-space: 'pre-line';
  display: '-webkit-box';
  -webkit-box-orient: 'vertical';
  overflow: 'hidden';

  @for $i from 1 through 5 {
    &[data-row="#{$i}"] {
      -webkit-line-clamp: $i;
    }

    @include define.mq-pc {
      &[data-row-pc="#{$i}"] {
        -webkit-line-clamp: $i;
      }
    };
  }

}
