@use '@styles/define/define';

.root {
  white-space: 'pre-line';
  display: '-webkit-box';
  -webkit-box-orient: 'vertical';
  -webkit-line-clamp: 3;
  overflow: 'hidden';
  @include define.mq-pc {
    -webkit-line-clamp: 4;
  };
}
