@use '@styles/define/define';

html {
  color: define.$black;
  font-family: define.$fontFamily;
  line-height: 1.75;
}

body {
  background-color: define.$grey0;
  @include define.mq-pc {
    font-size: define.rem(define.$fontSizeBody1);
  }
}

ul {
  list-style-type: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
